body {
	padding-top: 80px;
}


#logo {
	font-weight: bold;
	color: #02B1F2;
	color: #0080ff;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	background: url("../img/logo1.png") no-repeat scroll 0 0 transparent;
	background-size: Auto 42px;
	color: transparent;
	height: 42px;
	width: 120px;
}

.hero-unit {

}

#searcher {
	height: 40px;
}

.search {
	text-align: center;
}

#login {
	margin-bottom: 0px;
	padding-top: 3px;
}


p.small {
	font-size: 60%;
}








/*   colors from findthebest   */
.blue {
	color: #02B1F2;
}

.gray {
	color: #F6F6F6;
}

.black {
	color: #4D4D4D;
}

.white {
	color: #FFFFFF;
}

.green {
	color: #A1CC46;
}

.red {
	color: #E53D33;
}

.yellow {
	color: #FFCC00;
}